div {
    font-family: 'Roboto', sans-serif;
    padding: 5px 0 20px 0;
}
span {
    background-color:rgb(88, 46, 29);
    color: white;
    font-weight:700;
    font-size: 12px;
    padding: 6px 15px;
    border-radius:6px;
    margin:10px 10px 0 0;
    display: inline-block;

}
p {
    margin: 15px 0 4px 0;
    color: rgb(102, 68, 53);
    letter-spacing: 2px;
    font-weight: 700;
    font-size:13px;
  }