.top {
  background-color: rgb(255, 240, 223);
  font-family: 'Roboto', sans-serif;
  color: rgb(94, 50, 9);

  .background {
    background-image: url("../../../../assets/bg.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;

    .header {
      padding: 1.5rem 1rem;

      img {
        border-radius: 50%;
        border-width: 0;
        width: 20%;
        height: auto;

      }

      h4 {
        text-transform: uppercase;
        font-size: 19px;
        letter-spacing: 3px;
        font-weight: 700;
        margin-top: 12px;
        margin-bottom: 0;
      }

      p {
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 2px;
        margin-bottom: 0;

      }
    }

  }
}

.bottom {
  background-color: rgb(243, 242, 242) !important;
  width: 100%;
  padding: 1.2em;
  font-family: 'Roboto', sans-serif;

  .inside {
    padding: 1.1em 1.1em 0.3em 1.1em;
    background-color: white;
    box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .navigate {
    .button-info {
      width: 50%;
      padding-bottom: 10px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 2px;
      font-size: 15px;
      border: none;
      color: rgb(185, 185, 185);
      border-block-end: rgb(185, 185, 185) solid 2px;
      background-color: transparent;
    }

    .button-schedule {
      width: 50%;
      padding-bottom: 10px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 2px;
      font-size: 15px;
      border: none;
      color: rgb(185, 185, 185);
      border-block-end: rgb(185, 185, 185) solid 2px;
      background-color: transparent;
    }

  }
}

.active {
  border-block-end: solid rgb(94, 50, 9) 2px !important;
  color: rgb(94, 50, 9) !important;
}

@media (max-width: 700px) {
  .header img {
    width: 25% !important;
  }
}

@media (max-width: 500px) {
  .header img {
    width: 35% !important;
  }
}
