.container {
  padding: unset;

  &.list {
    display: block;
    padding: 0 1rem;

    app-table {
      width: 100%;
      margin-right: 1rem;
    }
  }

  &.grid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    app-table {
      width: 43%;
      margin: 0.5rem;
    }
  }
}

.custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    padding-left: 1rem;
  }

  button {
    outline: none !important;
    background-color: transparent;
    border-style: none;
    padding: 7px;

    img {
      margin: 0.5rem;
    }
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}
