<div class="header">
  <img (click)='goBack()' src="assets/left-arrow.png" alt="">
  <h4>{{table?.tableName}}</h4>
  <div>
    <p *ngIf="isAdmin" (click)='editOrder(table.id)'>Edit</p>
  </div>
  <!-- <p *ngIf="user.role === 'admin'" (click)='editOrder(table.id)'>Edit</p> -->
</div>
<div class="status">
  <h5>Orders</h5>
  <h4>Serve</h4>
</div>
<div class="body">
  
  <app-ordered-food *ngFor="let food of orderFoods" [food]="food"> </app-ordered-food>
</div>

<div class="bottom">

  <button class="more" (click)='goTables()'>More Orders</button>
  <button *ngIf="isAdmin" class="done" (click)="done()">Done</button>
  <button *ngIf="!isAdmin" class="done" (click)="updateStatus()">Done</button>
</div>
