<div class="top">
  <div class="table">
    <h4 class="text">{{table?.tableName}}</h4>
    <div class="line"></div>
  </div>
  <div class="customer">
    <p class="text">Customer's Name</p>
      <input type="text" placeholder="Customer's name" [(ngModel)]="customer">
    </div>
  </div>

<div class="categories-buttons"> 
    <button> <img src="../assets/category-1.png">Coffee</button>
    <button> <img src="../assets/category-2.png">Tea</button>
    <button> <img src="../assets/category-3.png">Dessert</button>
    <button> <img src="../assets/category-4.png">Special</button>
    
</div>
<app-order-food *ngFor="let food of foods" [food]="food"> </app-order-food>
<app-summary-order (onOrder)="order()"></app-summary-order>