.top {
  background-color: #C8B496;
  padding: 1.5em 1.5em 1.7em 2.4em;
}

.text {
  color: white;
  text-transform: uppercase;
  margin-bottom: 0;
}

.table {
  display: flex;
  align-items: center;
}

h4 {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
}

.line {
  background-color: white;
  display: inline-block;
  width: 70%;
  height: 1.5px;
}

.rectangle {
  border: white 1.5px solid;
  width: 94%;
}

h6 {
  color: white;
  font-size: 16px;
  padding: 9px;
}

p {
  font-size: 13px;
  margin-top: 0.5rem;
  padding-bottom: 0.3rem;
}
.categories-buttons {
    margin: 15px 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  
    button {
      width: 22%;
      height: 85px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background-color: white;
      font-size: 9.5px;
    }
}
app-order-food {
  display: flex;
  justify-content: space-around;
}