<div class="login">
  <div class="title">
    <img src="../../assets/cup.png">
    <h1 class="text-center">Welcome to CONO</h1>
    <P>helping you to order coffee</P>
  </div>
  <form>
    <div class="form-group">
      <h6>USERNAME</h6>
      <input type="text" class="form-control" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <h6 class="password" >PASSWORD</h6>
      <input type="password" class="form-control" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group text-center">
      <button class="btn btn-primary" (click)="login()">LOG IN</button>
    </div>
  </form>
</div>
