:host {
    display: flex;
    width: 100vw;
    height: 60px;
    background-color: #422912;
    .summary-container {
        display: flex;
        justify-content: space-between;
        flex: 1;
        position: relative;
        .popup {
            position: absolute;
            bottom: 60px;
            z-index: 100;
            width: 100%;
            min-height: 200px;
            background-color: #C8B496;
        }
        .left {
            display: flex;
            align-items: center;
            color: white;
            flex: 1;
            img {
                margin-left: 1.5rem;
            }
            span {
                margin-left: 1rem;
            }
            .arrow-up {
                height: 32px;
                margin-left: 5rem;
            }
        }
        button {
            border: none;
            background-color: #C8B496;
            color: white;
        }
    }
}