div {
  font-family: 'Roboto', sans-serif !important;
}

h5 {

  font-size: 12px;
  color: rgb(177, 177, 177);
  letter-spacing: 2px;
  font-weight: 700;

}

.hoten {
  padding-top: 15px;
}

p {
  border-block-end: solid rgb(214, 214, 214) 1px;
  color: rgb(102, 68, 53);
  letter-spacing: 2px;
  font-weight: 700;
  font-size:13px;
}
.name {
  text-transform: uppercase;
}
