<app-header (onAdd)=addTable()></app-header>
<div class="table-container">
<div class="custom-header"> 
<span>Display</span>
<div class="btn-group">
    <button (click)="onDisplayModeChange(1)"
        [ngClass]="{'btn-primary active': displayMode === 1}" >
        <img src="../assets/grid.png" alt="">
    </button>
    <button  (click)="onDisplayModeChange(2)"
        [ngClass]="{'btn-primary active': displayMode === 2}" >
        <img src="../assets/list.png" alt="">
    </button>
</div>
</div> 
<div *ngIf="displayMode === 0">
<app-grid-table></app-grid-table>
    
</div>
<!-- grid -->
<div *ngIf="displayMode === 1">
<app-grid-table></app-grid-table>

</div>
<!-- List -->
<div *ngIf="displayMode === 2">
<app-list-table></app-list-table>

</div>
</div>
  
<app-menu-bar></app-menu-bar>


